body {
    background-color: #EFEFEF;
    color: #222;            
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              
    padding: 0;
}

#header {
	background-color: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
}

#header h1 {
	color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0px 1px 0px #666666;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main_menu {
	margin: 0px;
}
#main_menu ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}
#main_menu ul.menu li a {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 18px 0 18px 50px;
}
#main_menu ul.menu li.floor-updates a { background-image: url(../images/updates.png); }
#main_menu ul.menu li.whip-notices a { background-image: url(../images/notices.png); }
#main_menu ul.menu li.hearings a { background-image: url(../images/hearings.png); }
#main_menu ul.menu li.documents a { background-image: url(../images/docs.png); }
#main_menu ul.menu li.news a { background-image: url(../images/news.png); }
#main_menu ul.menu li.about a { background-image: url(../images/about.png); }


.menu {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.menu li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

.menu li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.menu li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#header div.leftButton {
    position: absolute;
    top: 7px;
    left: 6px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    line-height: 28px;
    border-width: 0 8px 0 8px;
    -webkit-border-image: url('/images/button.png') 0 8 0 8;
}

#header img.rightButton {
	position: absolute;
	top: 7px;
	right: 6px;
	width: 30px;
    border-width: 0 8px 0 8px;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
}

.classic_list {
	list-style-type: none;
	padding: 0; 
	margin: 0px;
}


.classic_list li {
    border-top-style:solid;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-top-color:#FFFFFF;
    border-bottom-color:#CCCCCC;
    padding: 10px;
    font-size:14px;
    text-decoration: none;
}

.classic_list li a {
	text-decoration: none;
	color: #000000;
}

.classic_link_list {
	list-style-type: none;
	padding: 0; 
	margin: 0px;
}

.classic_link_list li {
    border-top-style:solid;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-top-color:#FFFFFF;
    border-bottom-color:#CCCCCC;
    font-size:14px;
    text-decoration: none;
}

.classic_link_list li a {
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.time_span {
	color: #999999;
}

.header_row {
    background-color: #B5BFC8;
    color: #FFFFFF;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-bottom-color:#CCCCCC;
    padding: 10px;
    font-size:14px;
    font-weight: bold;
}

.result_title {
    margin-right:20px;
    font-weight: bold;
}

.result_head {
    margin-bottom:8px;
}

.result_subtitle {
    margin-right:20px;
    color: #777777;
    font-size:10pt;
}

.result_description {
    margin-right:20px;
}

.result_body {
    background-image: url('/images/child_next.png');
    background-repeat: no-repeat;
    background-position: right;
}

.whip_title {
	color: #000000;
	font-weight: bold;
}

.whip_date {
	color: #888888;
}

.standard_menu_body {
    background-image: url('/images/child_next.png');
    background-repeat: no-repeat;
    background-position: right;
	font-size: 17px;
    font-weight: bold;
}

.menu_icon {
	vertical-align: middle;
	padding-right: 5px;
}

#wrapper {
    position:relative;
    z-index:1;
    width: 100%;
    height:100%;
    overflow:scroll;
}

.chamber_container {
	margin: 0px auto 10px;
	width: 304px;
}

.chamber_select {
	width: 304px;
	padding: 0px;
}

.chamber_select li{
	display: inline;
	list-style-type: none;
}

#house_select a{
	float:left;
	display: block;
	background: url('/images/house-inactive.png') top left no-repeat;
	width: 152px;
	height: 31px;
	text-indent: -9999em;
}

#house_select a.active{
	background: url('/images/house-active.png') top left no-repeat;
}

#senate_select a{
	float: right;
	display: block;
	background: url('/images/senate-inactive.png') top left no-repeat;
	width: 152px;
	height: 31px;
	text-indent: -9999em;
}

#senate_select a.active{
	background: url('/images/house-active.png') top left no-repeat;
}

.clear {
	clear: both;
}