body {
    background-color: #EFEFEF;
    color: #222;            
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              
    padding: 0;
}

#header {
	background-color: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
}

#header h1 {
	color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0px 1px 0px #666666;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#header h1#main_title_text {
	color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0px 1px 0px #666666;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main_menu_body {
	margin: 0px;
}
.menu_page {
	list-style: none;
	margin: 10px;
	padding: 0;
}
.menu_page ul.menu li  {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 18px 0 18px 50px;
}

.menu_page ul.menu li.floor-updates  { background-image: url(../images/updates.svg); }
.menu_page ul.menu li.legislators  { background-image: url(../images/legislators.svg); }
.menu_page ul.menu li.hearings  { background-image: url(../images/hearings.svg); }
.menu_page ul.menu li.documents  { background-image: url(../images/docs.svg); }
.menu_page ul.menu li.news  { background-image: url(../images/news.svg); }
.menu_page ul.menu li.about  { background-image: url(../images/about.svg); }

.menu_page ul.menu li.favorites  { background-image: url(../images/favorites.svg); }
.menu_page ul.menu li.committees  { background-image: url(../images/notices.svg); }
.menu_page ul.menu li.location  { background-image: url(../images/location.svg); }
.menu_page ul.menu li.state { background-image: url(../images/state.svg); }
.menu_page ul.menu li.last_name  { background-image: url(../images/last_name.svg); }
.menu_page ul.menu li.zip_code  { background-image: url(../images/zip_code.svg); }

.menu {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.menu li  {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    /*display: block;*/
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

.menu li:first-child  {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.menu li:last-child  {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#header img#leftButton {
    position: absolute;
    top: 7px;
    left: 6px;
    height: 30px;
    border-width: 0 8px 0 8px;
    display:none;
}

#header img#rightButton {
	position: absolute;
	top: 7px;
	right: 6px;
	width: 30px;
    border-width: 0 8px 0 8px;
    display:none;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
    display:none;
}

.classic_list {
	list-style-type: none;
	padding: 0; 
	margin: 0px;
}


.classic_list li {
    border-top-style:solid;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-top-color:#FFFFFF;
    border-bottom-color:#CCCCCC;
    padding: 10px;
    font-size:14px;
    text-decoration: none;
}

.classic_list li a {
	text-decoration: none;
	color: #000000;
}

.classic_link_list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.classic_link_list li {
    padding-right: 10px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-top-color:#FFFFFF;
    border-bottom-color:#CCCCCC;
    font-size:14px;
    text-decoration: none;
}

.classic_link_list li a {
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.time_span {
	color: #999999;
}

.header_row {
    background-color: #B5BFC8;
    color: #FFFFFF;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-bottom-color:#CCCCCC;
    padding: 10px;
    font-size:14px;
    font-weight: bold;
}

.result_title {
    margin-right:20px;
    font-weight: bold;
}

.result_head {
    margin-bottom:8px;
}

.result_subtitle {
    margin-right:20px;
    color: #777777;
    font-size:10pt;
}

.result_description {
    margin-right:20px;
}

.result_body {
    background-image: url('../images/child_next.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.whip_title {
	color: #000000;
	font-weight: bold;
}

.whip_date {
	color: #888888;
}

.standard_menu_body {
    background-image: url('../images/child_next.svg');
    background-repeat: no-repeat;
    background-position: right;
	font-size: 17px;
    font-weight: bold;
}

.menu_icon {
	vertical-align: middle;
	padding-right: 5px;
}

#wrapper {
    position:relative;
    z-index:1;
    width: 100%;
    height:100%;
    overflow:scroll;
}

.chamber_container {
	margin: 0px auto 10px;
	width: 304px;
}

.chamber_select {
	width: 304px;
	padding: 0px;
}

.chamber_select li{
	display: inline;
	list-style-type: none;
}

#house_select a{
	float:left;
	display: block;
	background: url('../images/house-inactive.svg') top left no-repeat;
	width: 152px;
	height: 31px;
	text-indent: -9999em;
}

#house_select a.active{
	background: url('../images/house-active.svg') top left no-repeat;
}

#senate_select a{
	float: right;
	display: block;
	background: url('../images/senate-inactive.svg') top left no-repeat;
	width: 152px;
	height: 31px;
	text-indent: -9999em;
}

#senate_select a.active{
	background: url('../images/senate-active.svg') top left no-repeat;
}

.clear {
	clear: both;
}

.info_content {
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    font-size:16px;
}

.content {
    padding-bottom:40px;
}

#about_body { display:none }
#committee_body { display:none }
#doc_list_body { display:none }
#documents_body { display:none }
#floor_updates_body { display:none }
#hearings_body { display:none }
#legislators_body { display:none }
#legislators_committees_body { display:none }
#legislators_favorites_body { display:none }
#legislators_last_name_body { display:none }
#legislators_location_body { display:none }
#legislators_state_body { display:none }
#legislators_zip_body { display:none }
#news_body { display:none }
#news_source_body { display:none }
#subcommittee_body { display:none }
#whip_notices_body { display:none }
#empty_result { display:none; text-align: center; }

#preload { display:none }